<template>
	<!--父子组件传值传值把数据传过去的，文章会自动全部显示-->
	<all-article :passages="passages" :type="type"></all-article>
</template>

<script>
	import allArticle from '../../../components/allArticle'
	import api from '@/fetch/api'
	export default{
		name:'tech',
		components:{
			allArticle,
		},
		data(){
			return{
				passages:[

//					模板
//					{title:'我不是药神--来，吃个橘子吧',time:'2018-7-14',breif:`<p>我读大学时，有一次去医院检查身体。从诊室出来，看见一个三十多岁的女人蹲在地上，捂着肚子嚎啕大哭。“怎么办啊！去哪儿弄这么多钱啊！”哭声尖锐如一把刀，似要撕裂身体。貌似她丈夫的男人把诊断书攥成一团，一边摩挲女人的后背一边抹泪，讲不出一句安慰的话。</p><p>我晃晃悠悠走出医院，双腿软得像踩了棉花，恐惧、同情、忧愤等情绪在心中冲撞。从那时起，我才近距离体会到，原来世上真的有一群人在眼睁睁地等死，眼睁睁看着自己的生命因贫穷而耗竭。</p><p>《我不是药神》将我当时的情绪再度诱发出来。王砚辉饰演的假药贩子张长林说：“这个世界上只有一种病，穷病。”在物质极其充裕的时代，穷能限制想象力，穷能扼杀多种选择，“穷”不再是形容词，而是变成了一个名词和一个标签。穷，就是原罪。</p><p>剧情不算复杂。徐峥饰演的程勇原本是个彻头彻尾的loser，前妻因难忍家暴而离婚，唯一的儿子将跟随母亲出国生活，自己没有一技之长只好靠卖印度神油为生，结果生意冷清，连租金都成了问题。机缘巧合下，他认识了王传君扮演的慢粒白血病患者吕受益，于是做起了从印度走私仿制药的生意。初衷当然是为了赚钱，但因为仿制药价格远远低于国内正版药，无心插柳竟救了不少人命。</p><p>`},
//					{title:'阿甘正传--飘飞的羽毛',time:'2018-7-14',breif:`&nbsp;&nbsp;&nbsp;&nbsp;常常和朋友们谈起阿甘。阿甘太运气了！朋友们总是这样说。我哑然。我很奇怪，阿甘坐在那张凳子上，难道只是在告诉来来往往的陌生人：“瞧，我多运气”？<br>&nbsp;&nbsp;&nbsp;&nbsp;在好些年前，我曾对人生充满困惑。我不知道人活着为什么。有时候，我坐在窗台上，对自己说：我现在跳下去，与我活到死相比也没有区别吧。幸好，我没有跳下去。整整想了两年，我想出了一个答案：人怎么样才能活得更好？这个问题虽然没有答案，但心里不已经没有先前那么迷茫。<br>&nbsp;&nbsp;&nbsp;&nbsp;为什么要说这个事呢？因为在看这部片子的时候，我似乎又一次体验了那个追问人生的过程。<br>&nbsp;&nbsp;&nbsp;&nbsp;一个正常的人，拥有判断能力，他知道什么是重要的，什么是不重要的。一个正常的人，可以有很多选择，所以总是在等待时机。一个正常的人，不会把精力浪费在没有用的地方。但阿甘偏偏不是个正常人，他的智商比普通人低，他甚至差点就进了智障学校。女朋友、学校球队、部队、乒乓、养虾、跑步，似乎他的一切都不是自己在选择，而是别人在选择。当然，他也不会去问“人生是什么”之类的问题。他只会傻傻地去做一件件的事情。<br>&nbsp;&nbsp;&nbsp;&nbsp;这个故事到底想说的是什么？我觉得，导演就是用一种非常极端的方式，说了一个道理：选择很可能误导人生。因为选择太多，有的人没有用心地做事，这种态度进一步影响了他的人生。面对人生，或许应该有这种准备：“人生就像一盒巧克力，你不知道会选中哪一颗”。<br>`},
//					{title:'盗梦空间--谁人畏惧现实，谁将在梦中将自己迷失',time:'2018-7-14',breif:`和COCO小姐一起去看《盗梦空间》，没有想象的那么复杂，关于技术的问题，我们只是出来以后简单的交换了几个情节，其他的到是很好理解。看电影的过程中，COCO小姐问我，你说如果咱俩坐在电影院里是场梦，醒来以后发现自己在家呢怎么办，我说那到不可怕，怕的就是醒来以后发现自己还在XX公司的办公室里呢，面对着同样的领导和一堆没干完的活，那才崩溃呢，两个人心领神会的笑。看到李奥纳多和老婆造就的梦中的世界的时候，我就和COCO小姐说，你说这俩人审美是不是有点问题，太缺乏想象力了，也不整点啥花花草草的，清一色是灰土土的高楼大厦，这和现实有啥区别。出来的时候，COCO小姐问我，如果让你设计一个梦境，然后只有你和你心爱的人永远生活在其中，你愿意吗？我想了想说算了吧。她说我也是。<br><br>电影很好看，出乎我意料的打动我，我不是技术控，所以即使是当初看《骇客帝国》，也是感觉心中淡淡，并没有像很多人那么激动，这次却是久久都沉浸在其中，许是因为拯救世界于我这样的普通的小女人，终究是一件遥远的事。相比之下，反倒是在梦境与现实之间的穿梭，更让人感同身受。所以当莱奥纳多最后醒来的那一刻，我看着他，仿佛看到了从梦中醒来的自己，那种感觉复杂到难以言述，但我知道你和我一样明白。我也曾在梦中见过洪水滔天，山崩地裂；我也曾在梦中飞翔，飞过紫禁城的上空，飞过森林和湖泊，赤脚降落在大地上，在梦中闻到过青草的味道；我也曾在梦中哭着醒来，枕头被泪水打湿；我也也曾在梦中被人追赶，大声的对自己说，这是个梦，醒过来，醒过来，然后就真的醒了过来；也曾在梦中见到久别不见的父亲，拉着他的手，两个人一起走，我也曾在那里终于找到我那如风的少年，在梦中以为自己将永远和他在一起，醒来后坐在撒满阳光的屋子里黯然神伤。在那一刻，我曾无比痛恨自己为什么要醒过来，为什么不能把梦一直一直做下去。那时候我年纪小，还没有经历过太多的冷酷的现实。然而今天，在面对过这么多的痛苦，失落，迷失之后。我坐在电影院里看一群人做梦。相比于电影里那险象环生，荡气回肠的梦境来说，我最喜欢的，却偏偏是里奥那多在飞机里醒来的那一刻.`},
//
//					{title:'我不是药神--来，吃个橘子吧',time:'2018-7-14',content:`<p>我读大学时，有一次去医院检查身体。从诊室出来，看见一个三十多岁的女人蹲在地上，捂着肚子嚎啕大哭。“怎么办啊！去哪儿弄这么多钱啊！”哭声尖锐如一把刀，似要撕裂身体。貌似她丈夫的男人把诊断书攥成一团，一边摩挲女人的后背一边抹泪，讲不出一句安慰的话。</p><p>我晃晃悠悠走出医院，双腿软得像踩了棉花，恐惧、同情、忧愤等情绪在心中冲撞。从那时起，我才近距离体会到，原来世上真的有一群人在眼睁睁地等死，眼睁睁看着自己的生命因贫穷而耗竭。</p><p>《我不是药神》将我当时的情绪再度诱发出来。王砚辉饰演的假药贩子张长林说：“这个世界上只有一种病，穷病。”在物质极其充裕的时代，穷能限制想象力，穷能扼杀多种选择，“穷”不再是形容词，而是变成了一个名词和一个标签。穷，就是原罪。</p><p>剧情不算复杂。徐峥饰演的程勇原本是个彻头彻尾的loser，前妻因难忍家暴而离婚，唯一的儿子将跟随母亲出国生活，自己没有一技之长只好靠卖印度神油为生，结果生意冷清，连租金都成了问题。机缘巧合下，他认识了王传君扮演的慢粒白血病患者吕受益，于是做起了从印度走私仿制药的生意。初衷当然是为了赚钱，但因为仿制药价格远远低于国内正版药，无心插柳竟救了不少人命。</p><p>走私之路当然不顺畅。警察开始找他，假药贩子盯上了他，正版药公司董事恨透了他。为了明哲保身，程勇让出代理权，拿着卖仿制药攒下的第一桶金开了公司，当了小老板。后来吕受益之死令他良心发现，重操旧业，不为赚钱，只为赎罪救人，成了真正的救世主。</p><p>电影每一处转折都在意料之内，叙述稍显老套。但仔细一想，才知这就是现实，残酷到几乎再无发展出其他岔道的可能。</p><p>除了张长林，片中每一个角色的行为都出于正当且正义的立场。警察打击违规药品，义不容辞；正版药公司起诉仿制药，合情合理；穷人想要活命而购买印度走私药，情有可原。但不难看出，影片的立场完完全全地倒向了穷困的患者。</p><p>可怜之人必有可恨之处吗？或许吧。但这句话却永远不能成为恶人作恶、居高位者不作为的免死金牌。“鸡蛋与高墙之间，我永远站在鸡蛋一边。”这是被滥用的村上春树名言，也是很多创作者创作时信奉的朴素真理。</p><p>看过一些访谈，导演文牧野始终谦逊低调，提及演员时却说，这部片子中所有演员都贡献了巅峰演技。这不是过誉。从演技担当徐峥、周一围，到后起之秀王传君，再到惊鸿一现的龚蓓苾，每个人的表演都可圈可点，层次分明。需知片子讲的是小人物的故事，而小人物恰恰最考验表演。</p><p>徐峥与每个配角的对手戏都张力十足。吕受益做清创时，程勇和其妻在走廊里等候。病房里传来撕心裂肺的嚎叫，徐峥扮演一个内心有愧的“外人”，听着这哀嚎坐立不安，眼神躲闪不定，身子不自觉地侧向另一边。而妻子一动不动地坐着，目光没有焦点，可见其在长期煎熬中已变得麻木。程勇去机场送儿子出国时，差一点难过落泪。周一围饰演的警察曹斌说要请他喝酒，两人的恩怨随前妻远去的飞机消泯，正式升级为战友同盟。而程勇背过脸说改天吧，一方面是因为儿子远走心情不佳，另一方面是不习惯曹斌的突然示好，当然也有面对警察难免心虚的成分。一场戏，不到两分钟，只有几句台词，却完整表现出了两个不善言辞的男人复杂的内心。</p><p>谭卓扮演的刘思慧是让任何血性男儿都甘愿为她冲锋陷阵的女子。她坚韧又恬淡，浓妆时性感妩媚，素颜时有种让人心疼的憔悴之美。程勇赚了大钱后，带着几个合伙人去思慧工作的酒吧“团建”，用一沓又一沓钞票逼迫酒吧经理代替思慧跳脱衣舞。经理为钱忍气吞声，在台上扭摆腰肢，思慧在台下借着酒劲儿拼命起哄鼓掌，眼中有光，有火，也有泪。她经历过的屈辱、对程勇的感激、对命运的不甘全都写在了这一个眼神里。知乎上有个热门问题“有哪些一个镜头就体现一个演员是否会演戏的例子。”谭卓的这个眼神完美扣题。</p><p>王传君饰演的吕受益着实令人惊喜。久病不愈，瘦如竹竿，脸上却总是挂着傻傻的笑容。见程勇第一面时，他递过去一个橘子套近乎，而这个橘子，之后又在片中多个重要转折点出现。他病到高价药也无力回天时，忍着痛对来看望的徐峥说“吃个橘子吧”；他去世后，黄毛躲在没有人的地方，边哭边往嘴里塞橘子。橘子，成为了吕受益生命的隐喻，它鲜艳饱满，酸中带甜，但剥皮时若一不小心把汁水溅到眼睛里，是会让人哭的。</p><p>吕受益的角色让我想到了多年前在医院偶遇的那个嚎啕的女人。不知道她现在过得如何。如果当时我已经看过这部电影，或许我会在她手中塞一个橘子，说：“来，吃个橘子吧。”</p><p>《我不是药神》中大部分角色都面临着是守法还是救命的困境，这是推动故事发展的主要矛盾。而这背后，编剧和导演陷入了是充分挖掘故事深度还是尽可能争取过审的两难之中。在我国影视作品审核制度下，是不允许美化犯罪分子和犯罪行为的，而程勇这个人物恰恰踩到了这条红线。于是，后半程的剧情不可避免地落入过度煽情的窠臼，并最终靠“国家将格列宁纳入医保”来作为全片结局，一口气解决掉所有冲突。</p><p>以电影对抗并改变世界，近年来的韩国商业片可算个中翘楚。但中国因为特殊的国情，影视作品大多还停留在娱乐层面。也正因如此，《我不是药神》才显得难能可贵，能过审更是实属不易。在鱼龙混杂的电影行业，其黑色幽默下包裹的厚重的现实主义题材，是一朵瑰丽之花。</p><p>杨新鸣饰演的刘牧师，总是把“愿主保佑你”挂在嘴边。在该片的语境之下，这句话有浓浓的讽刺意味：主救不了的人命，被走私犯给救了。但影片末尾，讽刺意味消失，神迹开始显现。程勇走向监狱的路上，无数患者前来相送，并陆续摘掉了口罩，而已经死去的吕受益和黄毛，竟然也出现在了人群中。</p><p>这一场景戏剧性很强，以象征代替写实，与其说是对程勇的敬意，不如说是对生命的敬意。患者们对生命的渴望突破了法律与情感、时间与空间的限制，像冲破包衣的种子，像啄破蛋壳的雏鸟。</p><p>愿主保佑所有与命运抗争的人，阿门。</p><p></p>`},
//					{title:'阿甘正传--飘飞的羽毛',time:'2018-7-14',content:`&nbsp;&nbsp;&nbsp;&nbsp;常常和朋友们谈起阿甘。阿甘太运气了！朋友们总是这样说。我哑然。我很奇怪，阿甘坐在那张凳子上，难道只是在告诉来来往往的陌生人：“瞧，我多运气”？<br>&nbsp;&nbsp;&nbsp;&nbsp;在好些年前，我曾对人生充满困惑。我不知道人活着为什么。有时候，我坐在窗台上，对自己说：我现在跳下去，与我活到死相比也没有区别吧。幸好，我没有跳下去。整整想了两年，我想出了一个答案：人怎么样才能活得更好？这个问题虽然没有答案，但心里不已经没有先前那么迷茫。<br>&nbsp;&nbsp;&nbsp;&nbsp;为什么要说这个事呢？因为在看这部片子的时候，我似乎又一次体验了那个追问人生的过程。<br>&nbsp;&nbsp;&nbsp;&nbsp;一个正常的人，拥有判断能力，他知道什么是重要的，什么是不重要的。一个正常的人，可以有很多选择，所以总是在等待时机。一个正常的人，不会把精力浪费在没有用的地方。但阿甘偏偏不是个正常人，他的智商比普通人低，他甚至差点就进了智障学校。女朋友、学校球队、部队、乒乓、养虾、跑步，似乎他的一切都不是自己在选择，而是别人在选择。当然，他也不会去问“人生是什么”之类的问题。他只会傻傻地去做一件件的事情。<br>&nbsp;&nbsp;&nbsp;&nbsp;这个故事到底想说的是什么？我觉得，导演就是用一种非常极端的方式，说了一个道理：选择很可能误导人生。因为选择太多，有的人没有用心地做事，这种态度进一步影响了他的人生。面对人生，或许应该有这种准备：“人生就像一盒巧克力，你不知道会选中哪一颗”。<br>&nbsp;&nbsp;&nbsp;&nbsp;我很喜欢这部片子。特别喜欢飘飞的那片羽毛，好像那片羽毛就是我自己。`},
//					{title:'盗梦空间--谁人畏惧现实，谁将在梦中将自己迷失',time:'2018-7-14',content:`和COCO小姐一起去看《盗梦空间》，没有想象的那么复杂，关于技术的问题，我们只是出来以后简单的交换了几个情节，其他的到是很好理解。看电影的过程中，COCO小姐问我，你说如果咱俩坐在电影院里是场梦，醒来以后发现自己在家呢怎么办，我说那到不可怕，怕的就是醒来以后发现自己还在XX公司的办公室里呢，面对着同样的领导和一堆没干完的活，那才崩溃呢，两个人心领神会的笑。看到李奥纳多和老婆造就的梦中的世界的时候，我就和COCO小姐说，你说这俩人审美是不是有点问题，太缺乏想象力了，也不整点啥花花草草的，清一色是灰土土的高楼大厦，这和现实有啥区别。出来的时候，COCO小姐问我，如果让你设计一个梦境，然后只有你和你心爱的人永远生活在其中，你愿意吗？我想了想说算了吧。她说我也是。<br><br>电影很好看，出乎我意料的打动我，我不是技术控，所以即使是当初看《骇客帝国》，也是感觉心中淡淡，并没有像很多人那么激动，这次却是久久都沉浸在其中，许是因为拯救世界于我这样的普通的小女人，终究是一件遥远的事。相比之下，反倒是在梦境与现实之间的穿梭，更让人感同身受。所以当莱奥纳多最后醒来的那一刻，我看着他，仿佛看到了从梦中醒来的自己，那种感觉复杂到难以言述，但我知道你和我一样明白。我也曾在梦中见过洪水滔天，山崩地裂；我也曾在梦中飞翔，飞过紫禁城的上空，飞过森林和湖泊，赤脚降落在大地上，在梦中闻到过青草的味道；我也曾在梦中哭着醒来，枕头被泪水打湿；我也也曾在梦中被人追赶，大声的对自己说，这是个梦，醒过来，醒过来，然后就真的醒了过来；也曾在梦中见到久别不见的父亲，拉着他的手，两个人一起走，我也曾在那里终于找到我那如风的少年，在梦中以为自己将永远和他在一起，醒来后坐在撒满阳光的屋子里黯然神伤。在那一刻，我曾无比痛恨自己为什么要醒过来，为什么不能把梦一直一直做下去。那时候我年纪小，还没有经历过太多的冷酷的现实。然而今天，在面对过这么多的痛苦，失落，迷失之后。我坐在电影院里看一群人做梦。相比于电影里那险象环生，荡气回肠的梦境来说，我最喜欢的，却偏偏是里奥那多在飞机里醒来的那一刻，除了安静，耳边只有飞机的轰鸣声，阳光灿烂的机舱，男人脸上的表情，梦中数十载，人间只是弹指一挥间，所有的波澜壮阔，只存在于我们的心中，很多人的未来，却将由此改变的那一刻。我想，如果我手中有一个遥控器的话，我并不想重回那梦中，我只想重温这短短的几秒钟，那永恒的一瞬间。<br><br><br><br>所有的一切，都因为这短短的几秒钟才有意义，假如不能从梦中醒来，没有现实的冰冷和残酷，梦境也无所谓令人向往，假如没有地球的引力，终究不能降落大地，飞翔也变成了无根的漂泊于太空，无所谓美好。我爱这电影中的每一个人，并非因为他们是伟大的造梦者，而是因为他们都是那么坚定而勇敢，清楚的知道自己是谁，从不忘记自己是从哪里来，要到哪里去。我爱他们每一个人，是因为他们每个人心中都有自己的一个美梦，但他们不会躲到自己的梦里，我喜欢列奥纳多，是因为他始终记得，他是一个父亲，他不能畏惧痛苦，躲进自己的梦里，他要让孩子们真实的握着他的手，看到他的脸。即便是费舍先生，他一生中也许都在做梦，不知道自己是谁，而这一次，他不是沉迷于梦中，而是在他梦的最深处醒来。我看到他若有所思的表情，内心感慨万千。电影的英文名叫Inception，而不是什么《盗梦空间》，Inception在英文里,是开端和开始的意思。我想电影的制造者之所以取这个名字，也许有他自己的意味。我们做梦，不是因为害怕，所以要把自己丢失到梦中，我们做梦，是为了找到从我们出生开始，就一直在我们心中的那个问题的答案——“我是谁”，与其说它一直在我们的梦中，还不如说，它一直在我们的心里。<br><br><br><br>做一个梦想家，但永远不会怯懦的躲进自己臆造的梦境中去，永远勇敢的面对这冰冷而残酷的现实，敢于问自己——“我是谁？”，这才是我心中了不起的人，也是我想要的生活。看完盗梦空间，有朋友曾经问我，如果你想构架一个梦，你会选择梦到什么，我说，我也许会想再见我父亲一面，我很想念他。但是，如果我见到我的父亲，他会和我说什么呢？我知道，他会说，别怕，有我在。就像他活着的时候就常常会说的那样。我还想见一见我曾经在梦中深爱过的少年，不过这一次，当我醒来的时候，我不会再觉得失望，因为每每想到他们，想到我在梦中做过的那些美好事，我就觉得这生活还是很美好的，谁说他们不存在？我知道他们一直在，在我的心里，我的梦里，我的身体里，从来没有离去过。除此以外，我别无所求，如果此生是一个梦，就让我睡到自然醒，所有的现实我都接受，爱梦想，也不拒绝现实。<br><br><br><br>当李奥纳多从梦中醒来之后，他向四周望去，曾经在梦中和他一起出生入死的伙伴都在，大家心照不宣眼神，这比梦还美好的一刻，你永远无法在梦中体会得到。让我不由得想起了列侬的那句歌词：<br><br>You may say I'm a dreamer, but I'm not the only one .<br><br>如今再这句后面，我还想再加一句：<br><br>and I will never forget who I am<br><br>`},
//
				],
				type:{
					title:'技术文章',
					describe:'这是技术文章的简介'
				}
			}
		},
		mounted(){
			api.categoryArticleFront(this.type.title).then(res=>{
					switch(res.code){
					case '200':
						console.log('获取文章成功！');
						this.passages=res.data;
						this.parseTags();
						break;
					case '400':
						console.log('服务器开小差了！');
						break;
					}
				},err=>{
					console.log(err);
			})
		},
		methods:{
			parseTags(){
				let reg=/<img src/g;
				this.passages.forEach(element => {
					element.tags=element.tags.split(',');
					element.summary=element.summary.replace(reg,`<img data-src`);
				});
			}
		},

	}
</script>

<style scoped lang="less">

</style>
